
ol {
  list-style: none;
  padding: 0;
}

input[type="radio"] {
  position: absolute;
  left: -9999px;
}

.menuitems {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat( auto-fill, minmax(400px, 1fr) );
}

.menuitems .menuitem {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
  margin: 5%;
}

/* FILTERS
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.filters {
  text-align: center;
  margin-bottom: 2rem;
}

.filters * {
  display: inline-block;
}

.filters label {
  padding: 0.5rem 1rem;
  margin-bottom: 0.25rem;
  border-radius: 2rem;
  min-width: 50px;
  line-height: normal;
  cursor: pointer;
  transition: all 0.1s;
  border-style: solid;
  border-width: 1px;
  border-color: var(--brown);
}

.filters label:hover {
  background: var(--brown);
  color: #ffffff;
}

/* FILTERING RULES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

[value="all"]:checked ~ .filters [for="all"],
[value="almond"]:checked ~ .filters [for="almond"],
[value="apple"]:checked ~ .filters [for="apple"],
[value="blueberry"]:checked ~ .filters [for="blueberry"],
[value="cake"]:checked ~ .filters [for="cake"],
[value="chocolate"]:checked ~ .filters [for="chocolate"],
[value="cinnamon"]:checked ~ .filters [for="cinnamon"],
[value="coconut"]:checked ~ .filters [for="coconut"],
[value="dessert"]:checked ~ .filters [for="dessert"],
[value="earlgrey"]:checked ~ .filters [for="earlgrey"],
[value="financiers"]:checked ~ .filters [for="financiers"],
[value="gift"]:checked ~ .filters [for="gift"],
[value="glazed"]:checked ~ .filters [for="glazed"],
[value="gugelhupf"]:checked ~ .filters [for="gugelhupf"],
[value="international"]:checked ~ .filters [for="international"],
[value="lemon"]:checked ~ .filters [for="lemon"],
[value="madeleines"]:checked ~ .filters [for="madeleines"],
[value="mocha"]:checked ~ .filters [for="mocha"],
[value="orange"]:checked ~ .filters [for="orange"],
[value="oreo"]:checked ~ .filters [for="oreo"],
[value="peach"]:checked ~ .filters [for="peach"],
[value="pear"]:checked ~ .filters [for="pear"],
[value="pecan"]:checked ~ .filters [for="pecan"],
[value="pie"]:checked ~ .filters [for="pie"],
[value="pumpkin"]:checked ~ .filters [for="pumpkin"],
[value="raspberry"]:checked ~ .filters [for="raspberry"],
[value="scones"]:checked ~ .filters [for="scones"],
[value="strawberry"]:checked ~ .filters [for="strawberry"],
[value="tart"]:checked ~ .filters [for="tart"],
[value="tigre"]:checked ~ .filters [for="tigre"],
[value="walnut"]:checked ~ .filters [for="walnut"] {
  background: var(--brown);
  color: #ffffff;
}

[value="all"]:checked ~ .menuitems [data-category] {
  display: block;
}

[value="almond"]:checked ~ .menuitems .menuitem:not([data-category~="almond"]),
[value="apple"]:checked ~ .menuitems .menuitem:not([data-category~="apple"]),
[value="blueberry"]:checked ~ .menuitems .menuitem:not([data-category~="blueberry"]),
[value="cake"]:checked ~ .menuitems .menuitem:not([data-category~="cake"]),
[value="chocolate"]:checked ~ .menuitems .menuitem:not([data-category~="chocolate"]),
[value="cinnamon"]:checked ~ .menuitems .menuitem:not([data-category~="cinnamon"]),
[value="coconut"]:checked ~ .menuitems .menuitem:not([data-category~="coconut"]),
[value="dessert"]:checked ~ .menuitems .menuitem:not([data-category~="dessert"]),
[value="earlgrey"]:checked ~ .menuitems .menuitem:not([data-category~="earlgrey"]),
[value="financiers"]:checked ~ .menuitems .menuitem:not([data-category~="financiers"]),
[value="gift"]:checked ~ .menuitems .menuitem:not([data-category~="gift"]),
[value="glazed"]:checked ~ .menuitems .menuitem:not([data-category~="glazed"]),
[value="gugelhupf"]:checked ~ .menuitems .menuitem:not([data-category~="gugelhupf"]),
[value="international"]:checked ~ .menuitems .menuitem:not([data-category~="international"]),
[value="lemon"]:checked ~ .menuitems .menuitem:not([data-category~="lemon"]),
[value="madeleines"]:checked ~ .menuitems .menuitem:not([data-category~="madeleines"]),
[value="mocha"]:checked ~ .menuitems .menuitem:not([data-category~="mocha"]),
[value="orange"]:checked ~ .menuitems .menuitem:not([data-category~="orange"]),
[value="oreo"]:checked ~ .menuitems .menuitem:not([data-category~="oreo"]),
[value="peach"]:checked ~ .menuitems .menuitem:not([data-category~="peach"]),
[value="pear"]:checked ~ .menuitems .menuitem:not([data-category~="pear"]),
[value="pecan"]:checked ~ .menuitems .menuitem:not([data-category~="pecan"]),
[value="pie"]:checked ~ .menuitems .menuitem:not([data-category~="pie"]),
[value="pumpkin"]:checked ~ .menuitems .menuitem:not([data-category~="pumpkin"]),
[value="raspberry"]:checked ~ .menuitems .menuitem:not([data-category~="raspberry"]),
[value="scones"]:checked ~ .menuitems .menuitem:not([data-category~="scones"]),
[value="strawberry"]:checked ~ .menuitems .menuitem:not([data-category~="strawberry"]),
[value="tart"]:checked ~ .menuitems .menuitem:not([data-category~="tart"]),
[value="tigre"]:checked ~ .menuitems .menuitem:not([data-category~="tigre"]),
[value="walnut"]:checked ~ .menuitems .menuitem:not([data-category~="walnut"]) {
  display: none;
}
